.hero__container{
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.hero__bottom-buttons {
    display: flex;
    justify-content: center;
}