.hero__container{
    height: 118vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:19.5rem;
    @include phones {
        height: 46vh;
        margin-bottom:0;
    }

}


.hero__bottom-buttons {
    display: flex;
    justify-content: center;
    @include phones{
        display: none;
    }
}