.userInfo {
    display: flex;
    justify-content: center;

}

.userInfo__title {
    font-size: 18px;
    color: rgba($text-color, .4);
    font-weight: 600;
    text-align: right;
    margin-bottom: 0;
    padding-top: 8px;
    margin-right: 5%;
}

.userInfo__name {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 1;
    flex-basis: 400px;
}